/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  background-color: rgba(227, 227, 227, 1) !important;
  color: #000;
}

bi {
  height: 20px;
  width: 20px;
  float: right;
}

.danger {
  color: rgb(211, 9, 9);
}

.success {
  color: rgb(5, 121, 5);
}

.info {
  color: rgb(255, 238, 0);
}

.default {
  color: rgb(5, 5, 62);
}
